/*Reset al Css*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.section1 .block1Au, .section1 .block2Au, .contSectionCu .contSectionCu1, .contSectionCu .contSectionCu2, .contSectionCu .contSectionCu3 {
  display: flex;
  align-items: center; }

main .tituloFtg h1, main .tituloFaqs h1 {
  text-align: left;
  font-size: 5rem;
  font-weight: 900; }

main .tituloFtg, main .tituloFaqs {
  margin-left: 3rem;
  padding: 1rem 0rem 0.5rem 2rem; }

/*grid index*/
.contenedorPadreIndex {
  height: 80vh;
  display: grid;
  grid-template-areas: "header header header header" "section1 section1 section1 section1" "main main main main" "section2 section2 section2 section2" "section3 section3 section3 section3" "footer footer footer footer"; }

/*Prop Hijos*/
header {
  grid-area: header;
  background-color: #A3E4D7;
  position: sticky;
  top: 0;
  z-index: 1; }

.section1 {
  grid-area: section1; }

.contMainIndex {
  grid-area: main; }

.section2 {
  grid-area: section2; }

footer {
  grid-area: footer;
  font-family: "Roboto", sans-serif;
  background-color: rgba(112, 105, 105, 0.692); }

/*----Propiedades header----*/
.headerLogo {
  text-align: center;
  padding: 0.2rem; }
  .headerLogo img {
    width: 35%; }
    .headerLogo img:hover {
      transform: scale(1.025);
      transition: 0.5s; }

/*Prop del Menu*/
.headerMenu nav ul {
  list-style: none;
  text-align: center;
  padding-left: 0;
  margin-bottom: 0.3rem; }
  .headerMenu nav ul li {
    display: inline-block;
    background-color: whitesmoke;
    margin: 0.1rem;
    padding: 0px 5px;
    border-radius: 1rem; }
    .headerMenu nav ul li:hover {
      background-color: #77a3d8;
      transform: scale(1.3);
      transform: translate(0.1rem, 0.1rem);
      box-shadow: 3px 3px #333333;
      transition: 0.5s; }
    .headerMenu nav ul li a {
      font-size: 1.25rem;
      font-weight: bold;
      color: #4545e0;
      text-decoration: none; }
      .headerMenu nav ul li a:hover {
        color: whitesmoke; }

.headerChart {
  display: none; }

/*----cierre-Header----*/
/*----Prop Footer----*/
.footerImgC {
  padding-top: 0.2rem;
  text-align: center; }
  .footerImgC img {
    width: 5%; }

.footerText h3 {
  color: rgba(24, 23, 22, 0.904);
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 0%; }
  .footerText h3 span {
    color: darkblue;
    font-weight: bolder; }

.footerRedes {
  text-align: center;
  margin: 0.1rem; }
  .footerRedes .sideF, .footerRedes .sideI {
    width: 7.5%;
    padding-bottom: 0.1rem; }
    .footerRedes .sideF:hover, .footerRedes .sideI:hover {
      transform: scale(1.2);
      transition: 0.5s; }

/*----Cierre-Footer----*/
/*----Prop-index----*/
/*Prop carrusel*/
.section1 .contenedorCarrusel img {
  border: 0.5rem solid whitesmoke; }

.section1 .carousel-control-prev-icon, .section1 .carousel-control-next-icon {
  background-color: #777c818b; }

.mainIndex {
  text-align: center;
  background-color: #f1d0d0; }
  .mainIndex .editHead {
    font-size: 3rem;
    padding-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: #1C2833; }
  .mainIndex .editSubt {
    font-size: 2rem;
    padding-bottom: 1.5rem;
    margin-bottom: 0;
    color: #1c2833d8; }
  .mainIndex .editP {
    display: none;
    color: #1c2833be;
    font-weight: bold;
    font-size: 1.25rem;
    padding: 0rem 5rem; }

.wsAnime {
  position: fixed;
  bottom: 9rem;
  right: 0;
  width: 140px;
  /*Animacion en loop*/
  animation-name: vive;
  animation-iteration-count: infinite;
  animation-duration: 5s; }

@keyframes vive {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); } }

/*----cierre-index----*/
@media only screen and (min-width: 768px) {
  /*-----Prop Header------*/
  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end; }
    header .headerLogo img {
      width: 80%;
      margin-left: 2.5rem; }
    header .headerMenu, header .headerChart {
      display: flex;
      justify-content: center;
      align-items: center; }
    header .headerChart {
      text-align: center; }
      header .headerChart img {
        width: 50%; }
    header .headerMenu nav ul li {
      border-radius: 2rem; }
      header .headerMenu nav ul li a {
        justify-content: end;
        align-items: center;
        font-size: 1.1rem;
        font-weight: bold; }
  /*----Cierre-header----*/
  /*----Prop Footer----*/
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh; }
    footer .footerImgC {
      margin-left: 4rem;
      padding: 1rem; }
      footer .footerImgC img {
        width: 50%; }
    footer .footerText {
      display: flex;
      font-size: 1.10rem;
      text-align: center; }
    footer .footerRedes {
      padding: 2rem; }
      footer .footerRedes .sideF, footer .footerRedes .sideI {
        width: 25%;
        margin: 0.5rem; }
  /*----Cierre-Footer----*/
  /*-----------------------------*/
  /*----Prop Main-Index----*/
  .contGralCarrusel {
    text-align: center; }
  .contCarrusel {
    text-align: center;
    border: 1rem solid whitesmoke; }
  .mainIndex .editHead {
    font-size: 4rem;
    padding-top: 2rem;
    padding-bottom: 1rem; }
  .mainIndex .editSubt {
    font-size: 2.5rem; }
  .mainIndex .editP {
    margin: 0rem 7rem;
    padding-bottom: 3rem;
    display: block;
    font-size: 1.75rem; }
  .wsAnime {
    bottom: 9rem;
    width: 175px; } }

/*----------------------------*/
/*Grid-About Us*/
.contenedorPadreAu {
  height: 80vh;
  display: grid;
  grid-template-areas: "header header header header" "main main main main" "section1 section1 section1 section1" "section2 section2 section2 section2" "section3 section3 section3 section3" "footer footer footer footer"; }

/*Prop-Hijos*/
header {
  grid-area: header;
  background-color: #A3E4D7;
  position: sticky;
  top: 0;
  z-index: 1; }

main {
  grid-area: main; }

.section1 {
  grid-area: section1; }

.section2 {
  grid-area: section2; }

.section3 {
  grid-area: section3; }

footer {
  grid-area: footer;
  font-family: 'Roboto', sans-serif;
  background-color: rgba(112, 105, 105, 0.692); }

.contMainAu {
  background-image: url(../../img/madera.jpg);
  background-size: cover; }

main .tituloAu {
  padding: 1rem 0 1.5rem 2rem;
  text-align: left;
  font-size: 1rem;
  font-weight: bold;
  color: #1C2833; }

.section1 .block1Au {
  flex-flow: column wrap; }
  .section1 .block1Au img {
    margin: 0.3rem;
    width: 49%;
    border: 5px solid white; }
  .section1 .block1Au p {
    padding: 0.3rem 3rem;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-size: 0.75rem;
    font-weight: bold;
    color: #1C2833; }

.section1 .block2Au {
  flex-flow: column-reverse wrap; }
  .section1 .block2Au p {
    padding: 0.3rem 3rem;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-size: 0.75rem;
    font-weight: bold;
    color: #1C2833; }
  .section1 .block2Au video {
    margin: 0.3rem;
    border: 5px solid #130c0c;
    width: 50%;
    height: 70%; }

.section2 .subAboutUs {
  padding: 0.75rem;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  color: #1C2833; }

.section2 .block3Au {
  text-align: center; }
  .section2 .block3Au .img1, .section2 .block3Au .img2 {
    border: 5px solid white;
    width: 50%; }
  .section2 .block3Au p {
    padding: 0.3rem 3rem;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-size: 0.75rem;
    font-weight: bold;
    color: #1C2833; }

/*---cierre-About Us---*/
@media only screen and (min-width: 768px) {
  /*--Prop Main-AboutUs--*/
  main .tituloAu {
    font-size: 1.5rem;
    padding: 2rem 5.5rem 1rem; }
  .section1 .block1Au {
    flex-flow: row nowrap;
    justify-content: center;
    margin: 1rem 4rem; }
    .section1 .block1Au img {
      width: 35%;
      margin-left: 7rem; }
    .section1 .block1Au p {
      text-align: justify;
      font-size: 1.1rem;
      letter-spacing: 0.1rem; }
  .section1 .block2Au {
    flex-flow: row nowrap;
    justify-content: center;
    margin: 1rem 4rem; }
    .section1 .block2Au p {
      text-align: left;
      margin-left: 4rem;
      font-size: 1.1rem;
      letter-spacing: 0.1rem; }
    .section1 .block2Au video {
      width: 40%;
      height: 30;
      margin-right: 3rem;
      margin-bottom: 2rem; }
  .section2 .subAboutUs {
    font-size: 1.5rem;
    padding: 2rem 5.5rem 1rem; }
  .section2 .block3Au {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin: 0rem 2rem;
    padding-bottom: 2rem; }
    .section2 .block3Au .img1 {
      max-width: 40%; }
    .section2 .block3Au p {
      text-align: center;
      font-size: 1.1rem;
      padding-left: 1.1rem;
      padding-right: 1.1rem; }
    .section2 .block3Au .img2 {
      width: 325px; } }

/*----Cierre-Aboutus----*/
/*-------------------------------------*/
/*Grid-Food to Go*/
.contenedorPadreFtg {
  display: grid;
  grid-template-areas: "header header header header" "main main main main" "section1 section1 section1 section1" "section2 section2 section2 section2" "section3 section3 section3 section3" "footer footer footer footer"; }

/*Prop-Hijos*/
header {
  grid-area: header;
  background-color: #A3E4D7;
  position: sticky;
  top: 0;
  z-index: 1; }

.contMainFtg {
  grid-area: main; }

.section1 {
  grid-area: section1; }

.section2 {
  grid-area: section2; }

.section3 {
  grid-area: section3; }

footer {
  grid-area: footer;
  font-family: 'Roboto', sans-serif;
  background-color: rgba(112, 105, 105, 0.692); }

/*----Prop Main-FoodtoGo----*/
/*contenedor cuerpo Main*/
.contMainFtg {
  background-image: url(../../img/pared.jpg);
  background-size: cover;
  font-family: 'Roboto', sans-serif; }

main .tituloFtg h1 {
  color: #f74747; }

main .tituloFtg h2 {
  display: none; }

/*Prop Cards*/
.section1 .contS1Prod {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly; }
  .section1 .contS1Prod .card {
    margin: 2rem 5rem;
    text-align: center;
    padding: 0; }
    .section1 .contS1Prod .card img {
      border: 3.5px solid #a8a4a4; }
    .section1 .contS1Prod .card .estiloCard {
      background-image: linear-gradient(to right, whitesmoke, #b7aeae); }
    .section1 .contS1Prod .card .btn {
      color: #1c2833be;
      border: none;
      border-radius: 1rem;
      font-weight: bold;
      font-size: 1.5rem;
      background-color: #f74747; }
      .section1 .contS1Prod .card .btn:hover {
        transform: scale(1.1);
        box-shadow: 3px 3px #1C2833; }

/*----cierre-FoodtoGo----*/
@media only screen and (min-width: 768px) {
  /*--Prop Main-FoodtoGo--*/
  main .tituloFtg {
    margin-left: 2rem; }
    main .tituloFtg h1 {
      text-align: left;
      font-size: 8rem;
      font-weight: bold; }
    main .tituloFtg h2 {
      display: inline-block;
      text-align: left;
      font-size: 2.5rem;
      font-weight: bold;
      color: #f74747;
      background-color: #1c2833be; }
  /*----Cierre-FoodtoGo----*/ }

/*-----------------------------------------/

/*----Prop Main-Faqs----*/
/*Grid-Faqs*/
.contenedorPadreFaq {
  height: 80vp;
  display: grid;
  grid-template-areas: "header header header header" "main main main main" "section1 section1 section1 section1" "section2 section2 section2 section2" "section3 section3 section3 section3" "footer footer footer footer"; }

/*Prop-Hijos*/
header {
  grid-area: header;
  background-color: #A3E4D7;
  position: sticky;
  top: 0;
  z-index: 1; }

.contMainFaqs {
  grid-area: main; }

.section1 {
  grid-area: section1; }

.section2 {
  grid-area: section2; }

.section3 {
  grid-area: section3; }

footer {
  grid-area: footer;
  font-family: 'Roboto', sans-serif;
  background-color: rgba(112, 105, 105, 0.692); }

.contMainFaqs {
  background-image: url(../img/fondofaqs.webp);
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  color: #1C2833; }

main .tituloFaqs h1 {
  color: whitesmoke; }

.section1 .subFaqs {
  display: none; }

/*Prop Acordion*/
.section2 .contS2Faq .accordion {
  margin: 0.5rem 1rem 3rem 1rem; }
  .section2 .contS2Faq .accordion .estilosAcordion {
    background-color: rgba(214, 205, 205, 0.897);
    margin: 1rem 4rem; }
    .section2 .contS2Faq .accordion .estilosAcordion .estiloTextoAcord {
      background-color: rgba(214, 205, 205, 0.897);
      font-weight: bold;
      padding: 1rem;
      font-size: 1rem; }
      .section2 .contS2Faq .accordion .estilosAcordion .estiloTextoAcord p {
        font-size: 0.75rem; }

/*----cierre Main-Faqs----*/
@media only screen and (min-width: 768px) {
  /*----Prop Main-Faqs----*/
  main .tituloFaqs {
    margin-left: 2rem; }
    main .tituloFaqs h1 {
      text-align: left;
      font-size: 8rem;
      font-weight: bold;
      color: whitesmoke; }
  .section1 .subFaqs {
    display: inline-block;
    margin-left: 4.75rem; }
    .section1 .subFaqs h2 {
      font-weight: bold;
      margin-bottom: 1rem;
      text-align: left;
      font-size: 2.5rem;
      color: whitesmoke;
      background-color: #539dde; } }

/*----Cierre Main-Faqs----*/
/*---------------------------------/

/*----Prop Main-Contact Us---*/
/*Grid-Contact Us*/
.contenedorPadreCu {
  height: 80vh;
  display: grid;
  grid-template-areas: "header header header header" "main main main main" "section1 section1 section1 section1" "section2 section2 section2 section2" "section3 section3 section3 section3" "footer footer footer footer"; }

/*propiedades hijos*/
header {
  grid-area: header;
  background-color: #A3E4D7;
  position: sticky;
  top: 0;
  z-index: 1; }

.contMainCu {
  grid-area: main; }

.section1 {
  grid-area: section1; }

.section2 {
  grid-area: section2; }

.section3 {
  grid-area: section3; }

footer {
  grid-area: footer;
  font-family: 'Roboto', sans-serif;
  background-color: rgba(112, 105, 105, 0.692); }

.contMainCu {
  background-image: url(../../img/madera.jpg);
  background-size: cover;
  font-family: 'Roboto', sans-serif; }

main .tituloCu h1 {
  padding: 1.5rem 1rem 1.5rem 3rem;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #1C2833; }

.contSectionCu .contSectionCu1, .contSectionCu .contSectionCu2, .contSectionCu .contSectionCu3 {
  justify-content: left; }
  .contSectionCu .contSectionCu1 h3, .contSectionCu .contSectionCu2 h3, .contSectionCu .contSectionCu3 h3 {
    font-size: 1rem;
    font-weight: 700; }
  .contSectionCu .contSectionCu1 img, .contSectionCu .contSectionCu2 img, .contSectionCu .contSectionCu3 img {
    width: 15%;
    margin-left: 2.5rem;
    padding: 0.75rem; }

.contSectionCu .mapaCu {
  margin: 0.5rem 0rem;
  text-align: center; }

.section1 .subTituloCu h2 {
  padding: 1rem 1rem;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #1C2833; }

.contFormCu {
  text-align: left; }
  .contFormCu .stileForm {
    font-size: 1.25rem;
    font-weight: 500;
    padding: 0.5rem 3rem; }
  .contFormCu .bottonForm {
    text-align: right;
    margin: 0.5rem 4rem; }
    .contFormCu .bottonForm .btnStile {
      background-color: #539dde;
      color: #f1d0d0;
      font-weight: bold;
      border-radius: 1rem;
      font-size: 1.15rem;
      padding: 0.4rem 1.1rem;
      border: none;
      margin-right: 2.9rem; }

.section2 .backHomeCu {
  text-align: center;
  padding: 1rem; }
  .section2 .backHomeCu img {
    width: 15%;
    transition: 2s; }
    .section2 .backHomeCu img:hover {
      transform: scale(1.2); }
  .section2 .backHomeCu p {
    font-size: 0.75rem;
    font-weight: bold;
    color: #539dde; }

/*---cierre Main-Contact Us-----*/
@media only screen and (min-width: 768px) {
  /*----Prop Main-Contact Us---*/
  .contMainCu .contMainCu2 {
    display: flex;
    justify-content: space-evenly; }
  main .tituloCu h1 {
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    text-align: left;
    font-size: 2.5rem;
    padding: 0rem; }
  .section1 .subTituloCu h2 {
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    padding: 0rem;
    text-align: left;
    font-size: 2.5rem; }
  .contFormCu {
    text-align: left;
    margin: 1rem 0rem; }
    .contFormCu .formCu {
      margin: 0rem;
      padding: 0rem; }
      .contFormCu .formCu .stileForm {
        font-size: 1.25rem;
        font-weight: 500; }
      .contFormCu .formCu .bottonForm {
        text-align: right;
        margin: 1.5rem 1rem; }
  .section2 .backHomeCu {
    margin: 2rem; }
    .section2 .backHomeCu img {
      width: 120px; }
    .section2 .backHomeCu p {
      font-size: 1rem; } }

/*----cierre-Contact Us----*/
/*--No es magia es codigo!!!!--*/
/*gracias por permitirme salir de mi zona de confort y romperme la cabeza para que esto me salga, Grande Fede!!*/
