//variables
$colorFondoHeader: #A3E4D7; 
$colorFondoFooter: rgba(112, 105, 105, 0.692);
$tipoFuente:'Roboto', sans-serif;

//Operacion mat
$pdP: 20rem;
$mgP: 20rem;

//lista de colores fuentes
$colorFuente:
 rgb(69, 69, 224),
  darkblue ,
   rgba(24, 23, 22, 0.904),
     #1C2833,
      #1c2833d8,
       #1c2833be,
         whitesmoke,
           rgb(241, 208, 208),
             rgb(83, 157, 222);
